/**==================================================
 * Settings >> THEMES
 * 
 * Info:
 *      This file should contain only colour information (with the exemption of radii)
 *
 * Usage:
 *      Apply this class to the root element (<html>)
 * ==================================================
 */


/**
 * Default UI theme
 */
.t-default {
    // Theme pallette
    --ui-background: #FFFFFF;
    --ui-background-accent: #EEEEEE;
    --ui-midground: #BBBBBB;
    --ui-foreground: #666666;
    --ui-text: #161616;
    --ui-text-accent: #333333;
    // Accents
    --ui-accent-1: #0abde3;
    --ui-accent-2: #1dd1a1;
    --ui-accent-3: #feca57;
    --ui-accent-4: #ee5253;

    // Direction change
    --ui-positive: var(--ui-accent-2);
    --ui-negative: var(--ui-accent-4);

    /** RGB variants for utilising RGBA (requires interpolation)
     * LESS Usage: 
     *      background: ~"rgba( var(--ui-rgb-background), 0.6 );" 
     */
    --ui-rgb-background: 255, 255, 255;
    --ui-rgb-background-accent: 238, 238, 238;
    --ui-rgb-midground: 187, 187, 187;
    --ui-rgb-foreground: 102, 102, 102;
    --ui-rgb-text: 22, 22, 22;
    --ui-rgb-text-accent: 51, 51, 51;
    --ui-rgb-accent-1: 10, 189, 227;
    --ui-rgb-accent-2: 29, 209, 161;
    --ui-rgb-accent-3: 254, 202, 87;
    --ui-rgb-accent-4: 238, 82, 83;
    --ui-rgb-positive: 29, 209, 161;
    --ui-rgb-negative: 238, 82, 83;

    // Base border scales
    --border-minor: var(--ui-background-accent);
    --border: var(--ui-midground);
    --border-major: var(--ui-foreground);

    // Base radius scales
    --radius-minor: 2px;
    --radius: 3px;
    --radius-major: 6px;


    /**
     * Assign the theme to helper variables.
     * These are the variables we will use directly.
     */

    // Anchors
    --text-link: var(--ui-text);
    --text-link-active: var(--ui-accent-1);

    // Backgrounds (FYI - The buttons will correspond to these)
    --background-standard:              ~"rgba(var(--ui-rgb-foreground), 0.3)";
    --background-contrast:              var(--ui-text);
    --background-primary:               var(--ui-accent-1);
    --background-secondary:             var(--ui-accent-2);
    --background-tertiary:              var(--ui-accent-3);
    --background-quarternary:           var(--ui-accent-4);
    --background-submit:                var(--background-primary);
    --background-success:               var(--background-secondary);
    --background-warning:               var(--background-tertiary);
    --background-error:                 var(--background-quarternary);
    --background-positive:              var(--ui-accent-2);
    --background-negative:              var(--ui-accent-4);

    // Button - Standard
    --button-accent-standard:           var(--background-standard);
    --button-accent-standard-active:    var(--button-accent-primary);
    --button-text-standard:             var(--ui-text);
    --button-text-standard-active:      var(--ui-background);
    // Button - Contrast
    --button-accent-contrast:           var(--background-contrast);
    --button-accent-contrast-active:    var(--ui-text);
    --button-text-contrast:             var(--ui-background);
    --button-text-contrast-active:      var(--ui-background);
    
    // Button - Primary
    --button-accent-primary:            var(--background-primary);
    --button-accent-primary-active:     var(--ui-accent-1);
    --button-text-primary:              var(--ui-text);
    --button-text-primary-active:       var(--ui-background);
    // Button - Secondary
    --button-accent-secondary:          var(--background-secondary);
    --button-accent-secondary-active:   var(--ui-accent-2);
    --button-text-secondary:            var(--ui-text);
    --button-text-secondary-active:     var(--ui-background);
    // Button - Tertiary
    --button-accent-tertiary:           var(--background-tertiary);
    --button-accent-tertiary-active:    var(--ui-accent-3);
    --button-text-tertiary:             var(--ui-text);
    --button-text-tertiary-active:      var(--ui-text);
    // Button - Quarternary
    --button-accent-quarternary:        var(--background-quarternary);
    --button-accent-quarternary-active: var(--ui-accent-4);
    --button-text-quarternary:          var(--ui-text);
    --button-text-quarternary-active:   var(--ui-background);

    // Button - Submit
    --button-accent-submit:             var(--background-submit);
    --button-accent-submit-active:      var(--ui-text);
    --button-text-submit:               var(--ui-background);
    --button-text-submit-active:        var(--ui-background);
    // Button - Success
    --button-accent-success:            var(--background-success);
    --button-accent-success-active:     var(--ui-text);
    --button-text-success:              var(--ui-background);
    --button-text-success-active:       var(--ui-background);
    // Button - Warning
    --button-accent-warning:            var(--background-warning);
    --button-accent-warning-active:     var(--ui-text);
    --button-text-warning:              var(--ui-text);
    --button-text-warning-active:       var(--ui-background);
    // Button - Error
    --button-accent-error:              var(--background-error);
    --button-accent-error-active:       var(--ui-text);
    --button-text-error:                var(--ui-background);
    --button-text-error-active:         var(--ui-background);

    // Button - Positive
    --button-accent-positive:           var(--background-positive);
    --button-accent-positive-active:    var(--ui-text);
    --button-text-positive:             var(--ui-background);
    --button-text-positive-active:      var(--ui-background);
    // Button - Negative
    --button-accent-negative:           var(--background-negative);
    --button-accent-negative-active:    var(--ui-text);
    --button-text-negative:             var(--ui-background);
    --button-text-negative-active:      var(--ui-background);
    

    // Components radii
    --radius-tooltip: var(--radius-minor);
    --radius-modal: var(--radius-major);
    --radius-scrollbar: var(--radius-major);
    --radius-button: var(--radius-minor);

    // Header specific
    --background-header: var(--ui-background-accent);
    --background-header-app: var(--ui-text);
    --text-header: var(--ui-text);
    --text-header-app: var(--ui-background-accent);

    // Sidebar specific
    --background-sidebar: var(--ui-background-accent);

    // Scrollbar
    --background-scrollbar-button: ~"rgba(var(--rgb-ui-midground), 0.6)";
    --background-scrollbar-corner: var(--ui-midground);
    --background-scrollbar-thumb: var(--ui-midground);
    --background-scrollbar-track: var(--ui-background-accent);

    // Table specific
    --background-table-header: var(--ui-background-accent);
    --border-table: var(--border);

    // "Code" specific
    --radius-code: var(--radius-minor);
    --background-code: var(--ui-background-accent);
}


/**
 * Dark UI theme
 */
.t-dark {}


/**
 * Halo-themed UI
 */
.t-halo {}