/**==================================================
 * Elements >> Scrollbar
 *
 * Info:
 *      Themed scrollbar styling across all elements.
 *      To explicitly make an element scrollable see `_utility.scroll.less`
 * ================================================== */


::-webkit-scrollbar {
    background-color: var(--background-scrollbar);
    width: var(--width-scrollbar);
    height: var(--height-scrollbar);
}

::-webkit-scrollbar-button {
    background-color: var(--background-scrollbar-button);
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: var(--background-scrollbar-corner);
}

::-webkit-resizer {}

::-webkit-scrollbar-thumb {
    background-color: var(--background-scrollbar-thumb);
    border-radius: var(--radius-scrollbar);
    
    // Add cosmetic "margin" around draggable part 
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;

    // Expand thumb on hover and active
    // Note, transition property not supported
    &:hover,
    &:active {
        border: 0;
    }
}

::-webkit-scrollbar-track {
    background-color: var(--background-scrollbar-track);
}


