/**==================================================
 * Components >> Sidebar
 *
 * Info:
 *      Sidebar Component
 * ================================================== */


// Define the font
.c-sidebar {
    width: var(--width-sidebar);
    min-width: var(--width-sidebar-abs);
    height: 100%;
    overflow: auto;
    background-color: var(--background-sidebar);
}
