/**==================================================
 * * Components >> Switch
 *
 * Switch component (aka a toggle)
 *
 * * Composition:
 *    <label class="c-switch">
 *        <input class="c-switch__input"/>
 *        <span class="c-switch__track">
 *            <span class="c-switch__grip"></span>
 *        </span>
 *        <span class="c-switch__label">Switch label</span>
 *    </label>
 *
 * TODO:
 *   Fix Hi-DPI appearance 
 * ================================================== */


@switch_h: 8px;
@switch_w: 16px;


/**
 * Switch component class
 */
.c-switch {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    &:hover,
    &:focus {
        .c-switch__label {
            text-decoration: underline;
        }
    }
}


/**
 * Switch input
 * This element controls the state and click events
 */
.c-switch__input {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}


/**
 * Switch track
 * The area which houses the toggle and exhibits state
 */
.c-switch__track {
    display: inline-block;
    position: relative;
    z-index: 1;
    height: (@switch_h + 2);
    width: (@switch_w + 2);
    background-color: var(--ui-midground);
    border-radius: 500px;
}


/**
 * Switch grip
 * The toggle that slides from side-to-side depending on state
 */
.c-switch__grip {
    height: @switch_h;
    width: @switch_h;
    border-radius: 500px;
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    background-color: var(--ui-background);
}


/**
 * Switch grip
 * The toggle that slides from side-to-side depending on state
 */
.c-switch__label {
    .u-ml--rg;
    user-select: none;
}


/**
 * Switch is enabled
 */
.c-switch.is-active > .c-switch__track,
.c-switch__input:checked + .c-switch__track {
    background-color: var(--ui-positive);

    > .c-switch__grip {
        background-color: var(--ui-background);
        left: unset;
        right: 1px;
    }
}
