/**==================================================
 * Components >> Header
 *
 * Header component
 *
 * ================================================== */

.c-header {
    height: auto;
    min-height: var(--height-header);
}


// Application header
.c-header--app {
    background-color: var(--background-header);
    min-height: var(--height-header-app);
}
