/**==================================================
 * Components >> Code
 *
 * Info:
 *      Code blocks and inline code snippets
 * ================================================== */


/**
 * Base code component class
 */
pre,
.c-code {
    font-family: var(--font-family-mono);
    background-color: var(--background-code);
    padding: var(--unit-rg);
    border-radius: var(--radius-code);
}


/**
 * Inline code
 */
.c-code--inline {
    display: inline-block;
    vertical-align: middle;
    padding: var(--unit-xs) var(--unit-sm);
}
