/**==================================================
 * Utilites >> TYPOGRAPHY
 *
 * Basic typography classes for defining text on-the-fly.
 * Elements can be used to avoid repitition - such as <b>
 * ==================================================
 */


/**
 * Font weights & styles
 */
.u-font--light,
.u-font--thin {
    font-weight: var(--font-light);
}

.u-font--roman,
.u-font--regular {
    font-weight: var(--font-roman);
}

.u-font--bold {
    font-weight: var(--font-bold);
}

.u-font--italic,
.u-font--oblique {
    font-style: italic;
}


/**
 * Font sizes
 */
.u-font--xxs { font-size: var(--font-xxs); }
.u-font--xs { font-size: var(--font-xs); }
.u-font--sm { font-size: var(--font-sm); }
.u-font--rg { font-size: var(--font-rg); }
.u-font--md { font-size: var(--font-md); }
.u-font--lg { font-size: var(--font-lg); }
.u-font--xl { font-size: var(--font-xl); }
.u-font--xxl { font-size: var(--font-xxl); }

