/**==================================================
 * Utilites >> Background
 *
 * Chainable classes for applying borders and various
 * other border related properties.
 *
 * Defaults: 
 *      border-width: --unit-xxs
 *      border-style: solid
 *      border-color: --border
 * ================================================== */


// Priority-based backgrounds
.u-bg--primary { background-color: var(--background-primary); }
.u-bg--secondary { background-color: var(--background-secondary); }
.u-bg--tertiary { background-color: var(--background-tertiary); }
.u-bg--quarternary { background-color: var(--background-quarternary); }


// State-based backgrounds
.u-bg--success { background-color: var(--background-success); }
.u-bg--submit { background-color: var(--background-submit); }
.u-bg--alert { background-color: var(--background-alert); }
.u-bg--warning { background-color: var(--background-warning); }
.u-bg--error { background-color: var(--background-error); }


// Directional backgrounds
.u-bg--positive { background-color: var(--background-positive); }
.u-bg--negative { background-color: var(--background-negative); }

