/**==================================================
 * Utilites >> Background
 *
 * Chainable classes for applying borders and various
 * other border related properties.
 *
 * Defaults: 
 *      border-width: --unit-xxs
 *      border-style: solid
 *      border-color: --border
 * ================================================== */


// UI backgrounds
.u-bg--background { background-color: var(--ui-background); }
.u-bg--background-accent { background-color: var(--ui-background-accent); }
.u-bg--midground { background-color: var(--ui-midground); }
.u-bg--foreground { background-color: var(--ui-foreground); }
.u-bg--text { background-color: var(--ui-text); }

// Priority-based backgrounds
.u-bg--standard, .u-background--standard { background-color: var(--background-standard); }
.u-bg--contrast, .u-background--contrast { background-color: var(--background-contrast); }


// Priority-based backgrounds
.u-bg--primary, .u-background--primary { background-color: var(--background-primary); }
.u-bg--secondary, .u-background--secondary { background-color: var(--background-secondary); }
.u-bg--tertiary, .u-background--tertiary { background-color: var(--background-tertiary); }
.u-bg--quarternary, .u-background--quarternary { background-color: var(--background-quarternary); }


// State-based backgrounds
.u-bg--success, .u-background--success { background-color: var(--background-success); }
.u-bg--submit, .u-background--submit { background-color: var(--background-submit); }
.u-bg--alert, .u-background--alert { background-color: var(--background-alert); }
.u-bg--warning, .u-background--warning { background-color: var(--background-warning); }
.u-bg--error, .u-background--error { background-color: var(--background-error); }


// Directional backgrounds
.u-bg--positive, .u-background--positive { background-color: var(--background-positive); }
.u-bg--negative, .u-background--negative { background-color: var(--background-negative); }

